/GSCats.xcodeproj/xcuserdata/qd.xcuserdatad/xcschemes/GSCats.xcscheme
/gscats.lst
/GSCats.xcodeproj/xcuserdata/qd.xcuserdatad/xcdebugger
/loader.lst
/terrain_e1.lst
/gscats.2mg
/fontEngine.lst
/FONTBANK\#060000
/Art/Generated
/fonts.lst
